body {
    font-family: monospace;
    background: #19171c;
}

#price {
    color: #43cc92;
    border-bottom: 1px solid rgba(150,134,213, 0.5);
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

#authinfo {
    color: #9686d5;
}

#raid {
    background: #19171c;
    border: 2px solid #9686d5;
    color: #9686d5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% / 4 - 10px);
    height: 24px;
    margin: 3px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
    border-radius: 3px;
}

#raid:hover {
    border: 2px solid #7866be;
}

#reveal {
    width: calc(46% - 4px);
    display: inline-block;
    margin: 20px 27%;
    height: 38px;
    font-size: 14px;
    border: 2px solid #9686d5;
    border-radius: 3px;
    background: #19171c;
    color: #9686d5;
    user-select: none;
    cursor: pointer;
    outline-style: none;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 17px 1px rgba(150,134,213, 1);
}

#reveal:hover {
    border: 2px solid #7866be;
}
