/* less variables */
@purple: #9686d5;
@darkpurple: #7866be;
@newpurple: #7f4edb;
@twitch: #19171c;
@green: #43cc92;
@red: #bb2443;
@glacier: #e7e7e7;
/* end of less variables */

.reject {
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    max-width: 400px;
    margin: 0 auto;
}

.reject span {
    color: @darkpurple;
}

.reject a {
    text-decoration: none;
    color: @darkpurple;
}
