body {
    font-family: monospace;
    background: #19171c;
}

input[type=text] {
    outline-style: none;
    border: 1px solid #9686d5;
    color: #9686d5;
    background: #19171c;
    padding: 6px 5px;
    font-size: 14px;
    line-height: 20px;
    width: calc(100% - 10px);
    font-family: monospace;
    text-align: right;
}

#price {
    color: #43cc92;
    padding: 10px 0;
    font-size: 14px;
}

#authinfo {
    color: #9686d5;
    background: #0f0e11;
    padding: 10px;
}

#submit {
    width: 50%;
    height: 44px;
    background: #43cc92;
    color: #fff;
    font-size: 20px;
    outline-style: none;
    border-style: none;
    user-select: none;
    cursor: pointer;
    margin: 30px 0;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

form label span {
    color: #9686d5;
    font-size: 14px;
    font-family: monospace;
}
