body {
    font-family: monospace;
    background: #19171c;
    padding: 0;
    margin: 0;
}

input[type=text] {
    outline-style: none;
    border: 1px solid rgba(150,134,213, 0.5);
    color: #9686d5;
    background: #000;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    width: calc(100% - 22px);
    text-align: right;
    border-radius: 4px;
    font-family: monospace;
    font-weight: 100;
    margin: 10px 0;
}

input[type=text]:focus {
    border: 1px solid #9686d5;
}

form ::placeholder {
    color: rgba(150,134,213, 0.5);
}

form label span {
    color: #9686d5;
    margin: 20px 0;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-family: monospace;
    font-weight: 100;
}

#welcome {
    color: #000;
    background: #9686d5;
    width: calc(100% - 20px);
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 16px;
    text-align: right;
    font-weight: 100;
    font-family: monospace;
}

#welcome span {
    font-weight: bold;
    cursor: pointer;
}

#price {
    color: #43cc92;
    padding: 10px 0;
    font-size: 14px;
}

#price span {
    font-weight: bold;
    cursor: pointer;
}

.submit {
    width: 100%;
    line-height: 64px;
    border: 2px solid #9686d5;
    color: #9686d5;
    background: #19171c;
    font-size: 18px;
    outline-style: none;
    user-select: none;
    cursor: pointer;
    margin: 30px auto;
    font-family: monospace;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.submit:hover {
    border: 2px solid #7866be;
}

.section {
    width: calc(50% - 82px);
    float: left;
    height: 784px;
    padding: 40px;
    border: 1px solid rgba(150,134,213, 0.31);
    background: transparent;
}

::-webkit-scrollbar {
      height: 10px;
	  width: 4px;
	  background: transparent;
      border-left: 2px solid transparent;
    }
::-webkit-scrollbar-thumb {
    background: #9686d5;
    border: 1px solid transparent;
    -webkit-border-radius: 1ex;
    border-radius: 2px;
}
::-webkit-scrollbar-corner {
}
